.vscode
build
host/__pycache__
host/installer
host/build
host/dist
host/nxdumptool
*.elf
*.nacp
*.nro
*.nso
*.map
*.pfs0
*.lst
*.log
*.spec
*.exe
*.code-workspace

# TODO: remove this after the PoC builds are no longer needed.
main.cpp
/code_templates/tmp/*
