[submodule "borealis"]
	path = libs/borealis
	url = https://github.com/natinusala/borealis
	branch = legacy
[submodule "libusbhsfs"]
	path = libs/libusbhsfs
	url = https://github.com/DarkMatterCore/libusbhsfs
	branch = dev
